.container {
    gap: 0.5rem;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.numbersContainer {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.number {
    padding: 0;
    border: none;
    color: var(--white);
    background-color: transparent;
}

.number:hover {
    cursor: pointer;
    color: var(--gold);
    background-color: transparent;
}

.number.activePage {
    color: var(--gold);
}

.paginationButton {
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
}

.paginationButton:hover {
    color: var(--gold);
    background-color: transparent;
}

.paginationIcon {
    width: 1rem;
    height: 1rem;
}
