.container {
    height: 100%;
    display: flex;
    align-items: center;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('/background.jpg');
}
