.header {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--charcoal);
}

.content {
    display: flex;
    align-items: center;
}

.logoContainer {
    margin-right: 2rem;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationLinksContainer {
    display: flex;
    gap: 1rem;
}

.logoutContainer {
    margin-left: auto;
}
