.header {
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--charcoal);
}

.logoContainer {
    margin-right: 2rem;
}

.headerContent {
    display: flex;
    align-items: center;
}

.navigationLinksContainer {
    display: flex;
    gap: 1rem;
}

.logoutContainer {
    display: flex;
    margin-left: auto;
    justify-content: right;
}
